.wrapper {
  padding: 8px;
  /* display: inline-block; */
  background-color: #555;
}

.logo {
  margin: 4px;
  position: relative;
  width: 55px;
  height: 55px;
  background-image: url("../../dist/assets/logo3.png");
  background-repeat: no-repeat;
  /* border-radius: 8px; */
  /* background: #333; */
}

.first,
.second,
.third,
.forth,
.stagger,
.timeline,
.gray {
  background-color: tomato;
}

.stagger {
  left: 300px;
}

.controls {
  /* background-color: green;
    color:white; 
    border-radius: 8px;  */
  color: coral;
}

.green {
  display: inline-block;
  background: green;
}

h1 {
  position: relative;
  text-align: center;
  color: tomato;
}

.box{
  margin: 6px;
  position: relative;
  background: coral;
  width: 50px;
  height: 50px;
}
